
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family:'DotGothic16',sans-serif;  
}

    
.te
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vh;
   background: #001;
   /*background:linear-gradient(45deg,#222831,#393e46,#00adb5);
background-size: 200%,200%;
animation:colos 15s ease infinite ;*/
}
.vamos
{

    max-width: 30ch;
    min-width:30ch ;
    min-height: 20ch;
    top: 5%;
    left: 60ch;
    position: absolute;
    color: #fff;
    margin-top: 30ch;
    transform: translate(-50%,-50%);
    background: #191919;
    border-radius: 10px;
}


.vamos button
{ 
    color: #fff;
    text-align: center;
    background: #001;
   border: solid 1px ;
    
}
.morgana{
    display: flex;
    background: #fff;
    color: #001;
    width: 100%;
}
.morgana p{
    position: relative;
    margin-top: 1.5ch;
    margin-left: 1ch;
    
}
.seta{
    
    width: 20px;
    height: 20px;
}
.morgana img{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.ca{

    position: relative;
    width: 25ch;
    margin-top: 2ch;
    background: rgb(228, 212, 212);
    border-radius: 5px;
    color: #000;
}
.pergunta{
color: #fff;
position: relative;
margin-left:2ch;
 margin-top: 40ch;
}
.perguntar button{
    position: relative;
    margin-left: 2ch;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.pergunta img{
    width: 40px;
    height: 40px;
    border:none;
    border-radius: 50%;
}
.pergunta input{
    position: relative;
    top: -2ch;
    height: 5ch;
    border-radius: 10px;
   
}



.loader
{
    left: 85%;
    top:10%;
    position: relative;
    width:50px;
    height:50px;
    border-radius: 100%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: amate 4s linear infinite;
}
@keyframes  animte
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes amate
{
    0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {

    transform:translateY(-10px);
}

}
.loader span
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
}
.loader span:nth-child(1)
{
   filter: blur(5px);
}

.loader span:nth-child(2)
{
   filter: blur(10px);
}
.loader span:nth-child(3)
{
   filter: blur(25px);
}.loader span:nth-child(4)
{
   filter: blur(50px);
}
.loader:after
{
content: '';
position: absolute;
top:10px;
left: 10px;
right: 10px;
bottom: 10px;
background: #111;
border-radius: 50%;
}
/*.a
{
  background-color: #eeea0a;
 position: fixed;
  height:50px;
  width:50px; 
  top:0%;
  left: 0%;
  animation-name:qa;
  animation-duration:10s;
animation-iteration-count:infinite;

}
.b
{
    background-color: #03093d;
    position: fixed;
    height: 50px;
    width: 50px; 
    top:25%;
    left: 25%;
    animation-name:qa;
    animation-duration: 20s;
  animation-iteration-count: infinite;
}
.c
{
    background-color: #17e005;
    position: fixed;
    height: 50px;
    width: 50px;
    top:50%;
    left:20%;  
    animation-name:qa;
    animation-duration: 15s;
  animation-iteration-count: infinite;

}
.d
{
    background-color: #a30303;
    position: fixed;
    height: 50px;
    width: 50px; 
    top:90%;
    left: 90%;
}
.e
{
    background-color: #630000;
    position: fixed;
    height: 50px;
    width: 50px; 
    top:35%;
    left: 35%;
}
.f
{
    position:relative;
    background-color: #f1d9f5;
    height: 50px;
    width: 50px;
    top:85%;
    left:5%;
    animation-name:qa;
    animation-duration: 5s;
  animation-iteration-count: infinite; 
}
.g
{
    background-color: #020202;
    position: fixed;
    height: 50px;
    width: 50px; 
    top:38%;
    left: 15%;
    animation-name:qa;
    animation-duration: 15s;
  animation-iteration-count: infinite;
}*/
@keyframes qa{
   0%{transform:translatey(-500px) ;

   }25%{

   } 50%{
    transform:translatey(640px) ;

   }100%{
    transform:translatey(-500px) ;
   }
}
@keyframes cotos{ /*animasão*/
    0%{
        background-position: 0% 0%;

    }
    50%{
        background-position: 50% 50%;

    }
    100%{
        background-position: 100% 100%;

    }
}
@keyframes colos{ /*animasão*/
    0%{
        background-position: 0% 50%;

    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0% 100%;

    }
}
@media (max-width:1000px)
{
    .vamos{
        margin-left:8ch;
        
       
     
    }
    .loader
{
     left: 85%;
     top:10%;
     position: relative;
     width:50px;
     height:50px;
     border-radius: 100%;
    
}


}
   